// 파일 연결
@import './fonts/font.css';
// 파일 연결 끝

// nesting
$ms: 14px;
$mf: 'Pretendard-R';

// 중
// nesting 끝

// mixin
%align-center {
    display: flex;
    align-items: center;
}

%justify-center {
    display: flex;
    justify-content: center;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font-weight($fn) {
    font-family: $fn;
}

// mixin 끝

// 공통
* {
    font-family: $mf;
    font-size: $ms;
    letter-spacing: -2px;
    color: #333;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    -ms-overflow-style: none;
    background: #fff;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    padding-left: 0;
}

a {
    color: inherit;
}

span {
    font-size: inherit;
}

input {
    outline: none;
    letter-spacing: -1;
}

.hidden {
    display: none;
}

// 공통 끝

// 배경
.background {
    width: 100%;
    height: 300px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;

    img {
        width: inherit;
    }
}

// 배경 끝

// 로그인
.login {
    height: 600px;
    @extend %flex-center;
    flex-direction: column;
}

.login-title {
    @extend %align-center;

    img {
        width: 80px;
        height: 80px;
        margin-right: 25px;
    }

    h3 {
        font-size: ($ms + 26px);
        margin: 0;
    }
}

.login-subtitle {
    font-size: ($ms + 6px);
    margin: 50px 0;
}

.login-input {
    display: flex;

    div {
        display: flex;
        flex-direction: column;

        label {
            font-size: ($ms + 11px);
            @extend %align-center;
            justify-content: space-between;
            margin-right: 20px;
        }

        label:first-child {
            margin-bottom: 20px;
        }
    }
}

#adId,
#adPw {
    margin-left: 25px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    letter-spacing: 0px;
}

#adId::placeholder,
#adPw::placeholder {
    font-size: ($ms + 6px);
    color: #ddd;
}

button {
    border: none;
    background: #3376D2;
    color: #fff;
    width: 215px;
    height: 100%;
    border-radius: 3px;
    font-size: ($ms + 11px);
}

// 로그인 끝

// 미디어쿼리
@media screen and (max-width: 1024px) {

    // 배경
    .background {
        height: 29.30vw;
    }

    // 배경 끝

    .login-title {
        img {
            width: 7.81vw;
            height: 7.81vw;
        }

        h3 {
            font-size: 3.91vw;
        }
    }

    .login-input {
        div {
            label {
                font-size: 2.44vw;
            }

            label:first-child {
                margin-bottom: 1.95vw;
            }
        }
    }

    #adId::placeholder,
    #adPw::placeholder {
        font-size: 1.95vw;
    }

    button {
        width: 21vw;
        font-size: 2.44vw;
    }
}

@media screen and (max-width: 768px) {

    // 배경
    .background {
        height: 225px;
    }

    // 배경 끝

    // 로그인
    .login-title {
        img {
            width: 60px;
            height: 60px;
            margin-right: 3.26vw;
        }

        h3 {
            font-size: ($ms + 16px);
        }
    }

    .login-subtitle {
        font-size: 2.60vw;
    }

    .login-input {
        div {
            label {
                font-size: ($ms + 4.8px);
            }

            label:first-child {
                margin-bottom: 15px;
            }
        }
    }

    #adId::placeholder,
    #adPw::placeholder {
        font-size: ($ms + 1px);
    }

    button {
        width: 161px;
        font-size: ($ms + 4.8px);
    }

    // 로그인 끝
}

@media screen and (max-width: 600px) {

    // 배경
    .background {
        height: 37.50vw;
    }

    // 배경 끝

    // 로그인
    .login {
        height: 100vw;
    }

    .login-title {
        img {
            width: 10vw;
            height: 10vw;
        }

        h3 {
            font-size: 5vw;
        }
    }

    .login-subtitle {
        font-size: ($ms + 1.6px);
        margin: 8.33vw 0;
    }

    .login-input {
        div {
            label {
                font-size: 3.13vw;
                margin-right: 3.33vw;
            }

            label:first-child {
                margin-bottom: 2.50vw;
            }
        }
    }

    #adId,
    #adPw {
        margin-left: 4.17vw;
    }

    #adId::placeholder,
    #adPw::placeholder {
        font-size: 2.50vw;
    }

    button {
        width: 26.83vw;
        font-size: 3.13vw;
    }

    // 로그인 끝
}

@media screen and (max-width: 480px) {

    // 배경


    // 배경 끝

    // 로그인
    .login {
        height: 480px;
    }

    .login-title {
        img {
            width: 48px;
            height: 48px;
            margin-right: 15.7px;
        }

        h3 {
            font-size: 24px;
        }
    }

    .login-subtitle {
        margin: 40px 0;
    }

    .login-input {
        div {
            label {
                font-size: 3.13vw;
                margin-right: 3.33vw;
            }

            label:first-child {
                margin-bottom: 2.50vw;
            }
        }
    }

    #adId,
    #adPw {
        margin-left: 0px;
    }

    #adId::placeholder,
    #adPw::placeholder {
        font-size: ($ms - 2px);
    }

    button {
        width: 129px;
        font-size: 15px;
    }

    // 로그인 끝
}

// 미디어쿼리 끝