@import './fonts/font.css';
.footer-info ul, .footer, .gallery-title, .notice-cnt_title,
.data-cnt_title, .location a,
.status a, .header .nav > ul, .header .logo, .header {
  display: flex;
  align-items: center;
}

.quick ul, .info-bottom {
  display: flex;
  justify-content: center;
}

.top, .footer-go .official,
.footer-go .normal, .footer-logo, .institution-logo ul li, .quick, .notice-cnt_date,
.data-cnt_date, .location,
.status, .company {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Pretendard-R";
  font-size: 14px;
  letter-spacing: -2px;
  color: #333;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  padding-left: 0;
}

a {
  color: inherit;
}

span {
  font-size: inherit;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: none;
  z-index: 99;
  border-bottom: 1px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.header .logo {
  justify-content: flex-start;
  font-family: "Pretendard-M";
  width: 350px;
}
.header .logo img {
  margin-left: 40px;
}
.header span {
  font-size: 20px;
  z-index: 999;
}
.header .nav {
  flex: 1;
  z-index: 999;
}
.header .nav > ul {
  justify-content: space-evenly;
}
.header .nav > ul li {
  position: relative;
}
.header .nav > ul .mainmenu {
  font-size: 20px;
  font-family: "Pretendard-M";
}
.header .nav > ul .submenu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 35px;
  left: -47px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  line-height: 40px;
  width: 200px;
  padding: 10px 0 10px 20px;
  display: none;
  background: #fff;
}
.header .nav > ul .submenu li {
  border-bottom: 1px solid #eee;
  width: 90%;
}
.header .nav > ul .submenu li:last-child {
  border-bottom: none;
}
.header .nav .hamburger {
  display: none;
}

.video {
  width: 100%;
  height: 100vh;
  position: relative;
}
.video div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  line-height: 1.7;
}
.video img {
  width: inherit;
  height: inherit;
}
.video .video-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-family: "Pretendard-M";
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.7);
}
.video .video-title span {
  font-size: 50px;
  color: #fff;
  font-family: "Pretendard-SB";
}

.main {
  width: 100%;
  margin-top: 60px;
}

.info {
  width: 100%;
  margin-bottom: 60px;
}

.company h3 {
  color: #fff;
  font-family: "Pretendard-SB";
  font-size: 20px;
}

.info-top {
  margin-bottom: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 630px;
  height: 220px;
  background: #3376D2;
  padding: 27px;
  margin-right: 20px;
}
.search h3 {
  margin-top: 0;
}
.search form {
  position: relative;
}
.search form input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background: none;
  border: 1px solid #fff;
  outline: none;
  padding: 10px;
  color: #fff;
}
.search form input::-moz-placeholder {
  color: #fff;
}
.search form input::placeholder {
  color: #fff;
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
.search-btn i {
  font-size: 17px;
  color: #fff;
}

.line {
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
  width: 575px;
}

.info-middle {
  display: flex;
}

.location,
.status {
  width: 300px;
  height: 220px;
  color: #fff;
  flex-direction: column;
}
.location a,
.status a {
  flex-direction: column;
}
.location a img,
.status a img {
  width: 100px;
}
.location h3,
.status h3 {
  margin: 0;
  text-align: center;
}

.location {
  background: #1E7DFF;
  margin-right: 20px;
}

.status {
  background: #1F8950;
}

.board {
  width: 630px;
  height: 450px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-right: 20px;
}

.board-title {
  display: flex;
  padding-left: 20px;
  position: relative;
}
.board-title li {
  font-family: "Pretendard-M";
  font-size: 23px;
  cursor: pointer;
}
.board-title li i {
  position: absolute;
  font-size: 34px;
  font-family: "Pretendard-EB";
  top: 0;
  right: 20px;
}
.board-title li.active {
  border-bottom: 2px solid #0066FF;
  padding-bottom: 5px;
}

.notice {
  margin-right: 100px;
}

.notice-cnt_title h4,
.data-cnt_title h4 {
  font-size: 25px;
  font-family: "Pretendard-R";
}

.notice-cnt_date,
.data-cnt_date {
  width: 70px;
  height: 70px;
  border: 1px solid #0066FF;
  flex-direction: column;
  margin: 0 20px;
}
.notice-cnt_date span,
.data-cnt_date span {
  color: #0066FF;
  font-size: 12px;
  font-family: "Pretendard-M";
}
.notice-cnt_date span:last-child,
.data-cnt_date span:last-child {
  font-size: 25px;
}

.title-line {
  border-bottom: 1px solid #ddd;
  width: 94%;
  margin: 15px auto;
}

.notice-cnt_list ul,
.data-cnt_list ul {
  padding-left: 20px;
}
.notice-cnt_list li,
.data-cnt_list li {
  position: relative;
}
.notice-cnt_list a,
.data-cnt_list a {
  font-size: 17px;
  line-height: 55px;
}
.notice-cnt_list a span,
.data-cnt_list a span {
  position: absolute;
  right: 20px;
}

.data-cnt {
  display: none;
}

.introduce,
.call {
  width: 620px;
  height: 215px;
  overflow: hidden;
  position: relative;
}
.introduce img,
.call img {
  width: 100%;
  vertical-align: top;
}
.introduce .black,
.call .black {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}
.introduce span,
.call span {
  color: #fff;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Pretendard-SB";
  text-align: center;
  line-height: 40px;
}
.introduce span i,
.call span i {
  color: #fff;
  font-size: 34px;
}

.introduce {
  margin-bottom: 20px;
}

.quick {
  width: 100%;
  height: 350px;
  background: #fafafa;
}
.quick ul {
  width: 1270px;
  gap: 8.75vw;
  padding-left: 0px;
  text-align: center;
}
.quick ul figure {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}
.quick ul figure img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quick ul figcaption {
  margin-top: 30px;
  font-size: 19px;
}
.quick ul a:hover figure {
  border: 1px solid #1E7DFF;
  background: #F0F5FD;
}
.quick ul a:hover figcaption {
  color: #1E7DFF;
  font-family: "Pretendard-M";
}

.gallery {
  width: 1270px;
  margin: 60px auto 0;
}

.gallery-title {
  position: relative;
}
.gallery-title h3 {
  font-size: 40px;
}
.gallery-title i {
  border: 1px solid #333;
  padding: 7.8px;
  font-size: 34px;
  position: absolute;
  right: 0;
  bottom: 35px;
}

.gallery-cnt .swiper {
  width: 100%;
  height: 500px;
  position: relative;
}
.gallery-cnt .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  width: 295px !important;
  height: 350px;
  overflow: hidden;
  position: relative;
}
.gallery-cnt .swiper-slide img {
  display: block;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-cnt .black {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}
.gallery-cnt .swiper-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.gallery-cnt .swiper-txt p {
  color: #fff;
  font-size: 18px;
  position: absolute;
}
.gallery-cnt .swiper-date {
  top: 0;
  right: 20px;
}
.gallery-cnt .swiper-title {
  font-family: "Pretendard-M";
  bottom: 0;
  left: 20px;
}
.gallery-cnt .swiper-button-left,
.gallery-cnt .swiper-button-right {
  top: initial;
  bottom: 1rem;
  color: #000000;
  opacity: 1;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.gallery-cnt .swiper-button-left img,
.gallery-cnt .swiper-button-right img {
  width: 30px;
}
.gallery-cnt .swiper-button-prev::after,
.gallery-cnt .swiper-button-next::after {
  font-size: 0px;
}
.gallery-cnt .swiper-button-left {
  right: 100px;
}
.gallery-cnt .swiper-button-right {
  left: 100px;
}

.logo-line {
  margin-top: 60px;
  border-top: 1px solid #ddd;
  width: 100%;
}

.institution-logo {
  width: 1270px;
  margin: 60px auto;
}
.institution-logo ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.institution-logo ul li {
  width: 190px;
  height: 70px;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 10px;
}
.institution-logo ul li img {
  height: 60px;
}

.footer {
  width: 100%;
  height: 300px;
  background: #333;
}

.footer-logo {
  width: 30%;
  height: 100%;
}
.footer-logo span {
  color: #fff;
}

.footer-info {
  width: 40%;
}
.footer-info ul {
  margin-bottom: 40px;
}
.footer-info ul a,
.footer-info ul span {
  color: #fff;
  font-size: 15px;
}
.footer-info address {
  color: #fff;
  font-style: normal;
  line-height: 30px;
}
.footer-info .copyright {
  margin-top: 40px;
  color: #fff;
}

.footer-go {
  width: 30%;
  display: flex;
  gap: 10px;
}
.footer-go .official,
.footer-go .normal {
  border: 1px solid #fff;
  width: 190px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.footer-go option {
  padding: 10px;
}

.top {
  visibility: hidden;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  background: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}
.top img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1360px) {
  .header {
    height: 7.35vw;
  }
  .nav {
    display: flex;
    position: relative;
  }
  .nav .nav-max {
    display: none;
  }
  .nav .nav-max li {
    display: none;
  }
  .nav .hamburger {
    display: block !important;
    height: 100%;
    margin: 0;
    position: absolute;
    right: 40px;
  }
  .nav .hamburger li {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav .hamburger li i {
    font-size: 30px;
  }
  .video-title {
    font-size: 2.94vw !important;
  }
  .video-title span {
    font-size: 3.68vw !important;
  }
  .search {
    width: 46.32vw;
    height: 16.18vw;
  }
  .search h3 {
    margin-bottom: 1.47vw;
  }
  .search .line {
    width: 100%;
    margin-bottom: 1.84vw;
  }
  .search form input {
    height: 2.94vw;
  }
  .location,
  .status {
    width: 22.06vw;
    height: 16.18vw;
  }
  .location a img,
  .status a img {
    width: 7.35vw;
  }
  .location h3,
  .status h3 {
    font-size: 1.47vw;
  }
  .board {
    width: 46.32vw;
    height: 33.09vw;
    padding: 1.47vw;
  }
  .introduce,
  .call {
    width: 45.59vw;
  }
  .introduce {
    margin-bottom: 1.47vw;
  }
  .board-title li {
    font-size: 1.84vw;
  }
  .notice-cnt_title h4,
  .data-cnt_title h4 {
    font-size: 1.84vw;
  }
  .notice-cnt_date,
  .data-cnt_date {
    width: 5.15vw;
    height: 5.15vw;
  }
  .title-line {
    margin: 1.1vw auto;
  }
  .notice-cnt_list ul,
  .data-cnt_list ul {
    margin-top: 0;
    margin-bottom: 1.03vw;
  }
  .notice-cnt_list a,
  .data-cnt_list a {
    font-size: 1.25vw;
    line-height: 4.04vw;
  }
  .introduce,
  .call {
    width: 45.59vw;
    height: 15.81vw;
  }
  .introduce span,
  .call span {
    font-size: 1.91vw;
  }
  .introduce span i,
  .call span i {
    font-size: 2.5vw;
  }
  .gallery {
    width: 93.38vw;
  }
  .gallery-cnt .swiper {
    height: 36.76vw;
  }
  .gallery-cnt .swiper-slide {
    width: 21.69vw !important;
    height: 25.74vw;
  }
  .gallery-cnt .swiper-txt p {
    font-size: 1.32vw;
  }
  .institution-logo {
    width: 93.38vw;
  }
  .institution-logo ul {
    justify-content: center;
    gap: 80px;
  }
  .footer {
    padding: 20px 40px;
  }
  .footer-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-logo {
    width: 100%;
    justify-content: flex-start;
    margin: 0;
    height: 30%;
  }
  .footer-info {
    width: 100%;
  }
  .footer-info ul {
    margin-bottom: 20px;
  }
  .footer-info .copyright {
    margin-top: 20px;
  }
  .footer-go {
    width: 40%;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1024px) {
  .video-title {
    width: 100%;
    font-size: 30px !important;
  }
  .video-title span {
    font-size: 38px !important;
  }
  .search {
    margin-right: 1.95vw;
  }
  .search h3 {
    font-size: 1.95vw;
  }
  .search form input {
    font-size: 1.76vw;
  }
  .location h3,
  .status h3 {
    font-size: 15.1px;
  }
  .location {
    margin-right: 1.95vw;
  }
  .info-bottom {
    flex-direction: column;
    align-items: center;
  }
  .board {
    width: 94.43vw;
    height: 340px;
    margin-right: 0;
  }
  .board-title li {
    font-size: 20px;
  }
  .board-title li i {
    top: -5px;
    font-size: 29px;
  }
  .notice-cnt_title h4,
  .data-cnt_title h4 {
    font-size: 20px;
    margin: 0;
  }
  .notice-cnt_date,
  .data-cnt_date {
    width: 55px;
    height: 55px;
  }
  .title-line {
    width: 96%;
    margin: 20px auto 5px;
  }
  .notice-cnt_list a,
  .data-cnt_list a {
    font-size: 15px;
    line-height: 45px;
  }
  .introduce,
  .call {
    width: 94.43vw;
    height: 22.46vw;
  }
  .introduce span,
  .call span {
    font-size: 20px;
  }
  .introduce i,
  .call i {
    font-size: 24px !important;
  }
  .introduce {
    margin: 20px 0;
  }
  .quick ul figure {
    width: 11.72vw;
    height: 11.72vw;
  }
  .quick ul figure img {
    width: 5.86vw;
    height: 5.86vw;
  }
  .gallery-title h3 {
    font-size: 3.91vw;
  }
  .gallery-cnt .swiper {
    height: 48.83vw;
  }
  .gallery-cnt .swiper-slide {
    width: 29.3vw !important;
    height: 35.43vw;
  }
  .gallery-cnt .swiper-slide a {
    height: inherit;
  }
  .gallery-cnt .swiper-txt p {
    font-size: 15px;
  }
  .institution-logo ul {
    gap: 7.81vw;
  }
  .footer-logo img {
    width: 6.25vw;
  }
  .footer-logo span {
    font-size: 2.73vw;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 56.5px;
  }
  .header .logo span {
    font-size: 2.6vw;
  }
  .header .logo img {
    width: 8.33vw;
    margin-left: 5.21vw;
  }
  .header .nav .hamburger {
    right: 5.21vw;
  }
  .header .nav .hamburger i {
    font-size: 3.91vw;
  }
  .main {
    margin-top: 0px;
  }
  .info-top {
    flex-direction: column;
  }
  .search {
    width: 100%;
    height: 150px;
    margin: 0;
  }
  .search h3 {
    font-size: 16px;
  }
  .search form input {
    height: 30px;
    font-size: 14px;
  }
  .info-middle {
    display: flex;
    width: 100%;
    height: 150px;
  }
  .location,
  .status {
    width: 50%;
    height: 100%;
  }
  .location a img,
  .status a img {
    width: 80px;
  }
  .location h3,
  .status h3 {
    font-size: 16px !important;
  }
  .location {
    margin: 0;
  }
  .introduce,
  .call {
    height: 172.5px;
  }
  .quick ul {
    gap: 13.02vw;
    margin: 0;
  }
  .quick ul figure {
    width: 90px;
    height: 90px;
  }
  .quick ul figure img {
    width: 45px;
    height: 45px;
  }
  .quick ul figcaption {
    margin-top: 20px;
    font-size: 2.47vw;
  }
  .quick ul:last-child {
    margin: 14px 0;
  }
  .gallery-title h3 {
    font-size: 30px;
  }
  .gallery-title i {
    font-size: 4.43vw;
    bottom: 4.56vw;
  }
  .gallery-cnt .swiper {
    height: 71.61vw;
  }
  .gallery-cnt .swiper-slide {
    width: 42.97vw !important;
    height: 52.08vw;
  }
  .gallery-cnt .swiper-button-right img,
  .gallery-cnt .swiper-button-left img {
    width: 3.91vw;
    height: 3.91vw;
  }
  .institution-logo ul li {
    width: 24.74vw;
    height: 9.11vw;
  }
  .institution-logo ul li img {
    height: 7.81vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer-left {
    width: 100%;
  }
  .footer-logo {
    justify-content: center;
  }
  .footer-logo img {
    width: 40px;
  }
  .footer-logo span {
    font-size: 18px;
  }
  .footer-info {
    text-align: center;
  }
  .footer-info ul {
    justify-content: center;
  }
  .footer-info ul a {
    font-size: 13px;
  }
  .footer-info address {
    line-height: 25px;
    font-size: 13px;
  }
  .footer-info .copyright {
    font-size: 13px;
  }
  .footer-go {
    width: 100%;
    justify-content: center;
  }
  .footer-go .official,
  .footer-go .normal {
    width: 50%;
    font-size: 14px;
  }
  .top {
    width: 6.51vw;
    height: 6.51vw;
  }
  .top img {
    width: 3.26vw;
    height: 3.26vw;
  }
}
@media screen and (max-width: 600px) {
  .header .logo span {
    font-size: 15.6px;
  }
  .header .logo img {
    width: 50px;
    margin-left: 31.3px;
  }
  .nav .hamburger {
    right: 31.3px !important;
  }
  .nav .hamburger i {
    font-size: 21.5px !important;
  }
  .video-title {
    font-size: 5vw !important;
  }
  .video-title span {
    font-size: 6.33vw !important;
  }
  .location a img,
  .status a img {
    width: 13.33vw;
  }
  .quick {
    height: 58.33vw;
  }
  .quick ul figure {
    width: 15vw;
    height: 15vw;
  }
  .quick ul figure img {
    width: 7.5vw;
    height: 7.5vw;
  }
  .quick ul figcaption {
    font-size: 15px;
  }
  .gallery-title i {
    font-size: 26px;
  }
  .gallery-cnt .swiper-txt p {
    font-size: 2.5vw;
  }
  .gallery-cnt .swiper-button-right img,
  .gallery-cnt .swiper-button-left img {
    width: 23.5px;
    height: 23.5px;
  }
  .top {
    width: 39px;
    height: 39px;
  }
  .top img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .location a img,
  .status a img {
    width: 64px;
  }
  .quick {
    height: 280px;
  }
  .quick ul figure {
    width: 72px;
    height: 72px;
  }
  .quick ul figure img {
    width: 36px;
    height: 36px;
  }
  .gallery .swiper {
    height: 93.75vw;
  }
  .gallery-title i {
    bottom: 30px;
  }
  .gallery-cnt .swiper-slide {
    width: 93.75vw !important;
    height: 66.67vw;
  }
  .gallery-cnt .swiper-txt p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */