// 파일 연결
@import url('../../css/fonts/font.css');
// 파일 연결 끝

// nesting
$ms: 14px;
$mf: 'Pretendard-R';
$mc: #1E7DFF;

// 중
// nesting 끝

// mixin
%align-center {
    display: flex;
    align-items: center;
}

%justify-center {
    display: flex;
    justify-content: center;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font-weight($fn) {
    font-family: $fn;
}

// mixin 끝

// 헤더
.header {
    position: fixed;
    top: 70px;
    width: 100%;
    height: 50px;
    background: #fff;
    @extend %align-center;
    z-index: 99;
    border-bottom: 1px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    .logo {
        margin: 0;
        height: 100%;

        a {
            @extend %align-center;
            justify-content: flex-start;
            height: 100%;

            img {
                margin-left: 20px;
            }
        }

        @include font-weight('Pretendard-M');
        width: 350px;
    }

    span {
        font-size: ($ms + 6px);
        z-index: 999;
        color: #fff;
    }

    .nav {
        flex: 1;
        z-index: 999;
        background: #fff;

        >ul {
            @extend %align-center;
            margin: 0;
            height: 100% !important;

            >li {
                position: relative;
                // padding: 0 40px;
            }

            >li:first-child {
                margin-left: 30px;
            }

            >li::after {
                content: '|';
                padding: 0 30px;
                color: #ddd;
                font-size: ($ms + 2px);
            }

            >li::last-child::after {
                content: '';
            }

            >li {
                a:hover {
                    
                }
            }

            .mainmenu {
                font-size: ($ms + 4px);
                @include font-weight('Pretendard-M');
            }

            .submenu {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                position: absolute;
                top: 38px;
                left: -30px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                line-height: 40px;
                width: 150px;
                padding: 3px 15px;
                display: none;
                background: #fff;

                li {
                    border-bottom: 1px solid #eee;
                    width: 100%;

                    a {
                        font-size: ($ms + 2px);
                    }

                    a:hover {
                        @include font-weight('Pretendard-B');
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }
        }

        .hamburger {
            display: none;
        }
    }
}

.admin {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    top: 0;
    display: flex;
    gap: 10px;
    padding-right: 20px;
    background: #333;

    h2 {
        @include font-weight('Pretendard-L');
        font-size: ($ms + 2px);
        color: #fff;

        span {
            @include font-weight('Pretendard-B');
            font-size: ($ms + 2px);
            color: #fff;
        }
    }

    p {
        a {
            font-size: ($ms + 2px);
            color: #fff;
        }
    }
}

// 로그인 정보
.admin-info {
    @extend %align-center;
    gap: 10px;
}

// 로그인 정보 끝